body {
    background-color: rgb(44, 43, 43);
}

.movies{
    padding-top: 20px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.movies li{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
    margin: 10px;
    padding: 10px;
    text-align: center;
    background-color: rgb(54, 50, 77);
}

.movies li img{
    padding-top: 60px;
    max-width: 275px;
    border-radius: 12px;
}

.movies li h2{
    color: aliceblue;
    font-size: 1.8em;
    padding: 15px 15px 0;
    margin-top: auto;
    font-family:'Times New Roman', Times, serif;
}
